nodered_flows
[{"id":"cdf2ab2f85071871","type":"tab","label":"Prod","disabled":false,"info":"","env":[]},{"id":"8c1b93a95e47f620","type":"tab","label":"Dev","disabled":false,"info":"","env":[]},{"id":"0fd5baabf62fe167","type":"sonos-config","name":"TV","serialnum":"","ipaddress":"192.168.111.242"},{"id":"7ad2277394b478ef","type":"mqtt-broker","name":"","broker":"192.168.111.221","port":"1885","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4457f692bec0f04b","type":"exec","z":"cdf2ab2f85071871","command":"sudo omxplayer -b --orientation 180 -o alsa","addpay":"VideoToPlay","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Play episode","x":810,"y":600,"wires":[["d9899524af37395c"],["d9899524af37395c"],[]]},{"id":"3892bde89e32a1ff","type":"inject","z":"cdf2ab2f85071871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":90,"y":440,"wires":[["624710098ae4c29f"]]},{"id":"fdd4078b0180141b","type":"exec","z":"cdf2ab2f85071871","command":"ls -1 /home/pi/vids/Fra_Sier/S*","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":360,"y":240,"wires":[["97b92819a26f1cfc"],[],[]]},{"id":"492c01bb6fe18a4a","type":"inject","z":"cdf2ab2f85071871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":150,"y":240,"wires":[["fdd4078b0180141b","04ee3ce63e7148d1"]]},{"id":"97b92819a26f1cfc","type":"split","z":"cdf2ab2f85071871","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":240,"wires":[["15b33d77396139fd"]]},{"id":"bfb5d532d82585b8","type":"rpi-gpio in","z":"cdf2ab2f85071871","name":"Key 1","pin":"21","intype":"up","debounce":"25","read":false,"bcm":true,"x":90,"y":540,"wires":[["72ad5b0ecd5d55bc"]]},{"id":"15b33d77396139fd","type":"change","z":"cdf2ab2f85071871","name":"Count the episodes","rules":[{"t":"set","p":"countFra_SierEpisodes","pt":"flow","to":"parts.count","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":240,"wires":[["88a4cdbb7c48632b"]]},{"id":"88a4cdbb7c48632b","type":"debug","z":"cdf2ab2f85071871","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":240,"wires":[]},{"id":"624710098ae4c29f","type":"exec","z":"cdf2ab2f85071871","command":"python -c 'import os, json; print json.dumps(os.listdir(\"/home/pi/vids/Fra_Sier\"))'","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"List Fra_Sier episodes","x":320,"y":480,"wires":[["e63d2ba4dfe6bcdd"],[],[]],"info":"Converts the output of ls to a json object"},{"id":"2f6321a46f453cbb","type":"debug","z":"cdf2ab2f85071871","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"VideoToPlay","targetType":"msg","statusVal":"VideoToPlay","statusType":"msg","x":830,"y":540,"wires":[]},{"id":"e63d2ba4dfe6bcdd","type":"json","z":"cdf2ab2f85071871","name":"","property":"payload","action":"","pretty":true,"x":490,"y":480,"wires":[["ecfb4e6157737b29"]]},{"id":"ecfb4e6157737b29","type":"change","z":"cdf2ab2f85071871","name":"","rules":[{"t":"set","p":"to","pt":"msg","to":"$flowContext(\"countFra_SierEpisodes\")-1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":540,"wires":[["ea18034b4063d4df"]],"info":"The random node accepts an upper bound in msg.to\nSet it to the count of Fra_Sier episodes"},{"id":"ea18034b4063d4df","type":"random","z":"cdf2ab2f85071871","name":"Pick 1","low":1,"high":"","inte":"true","property":"choice","x":430,"y":540,"wires":[["3558f3236d8a6cba"]]},{"id":"d9899524af37395c","type":"debug","z":"cdf2ab2f85071871","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":600,"wires":[]},{"id":"3558f3236d8a6cba","type":"function","z":"cdf2ab2f85071871","name":"Set flow context","func":"msg.VideoToPlay = '\"' + \"/home/pi/vids/Fra_Sier/\" + msg.payload[msg.choice] + '\"'\nflow.set(\"Fra_Sier_LatestPlayedEpisodeNumber\", msg.choice)\nflow.set(\"Fra_Sier_LastestEpisode\", msg.VideoToPlay)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":540,"wires":[["2f6321a46f453cbb","6095aac1e938c4a3"]]},{"id":"bb39e14af0f584ce","type":"comment","z":"cdf2ab2f85071871","name":"Init","info":"This runs when node-red first starts or this flow deploys for the first time.","x":120,"y":200,"wires":[]},{"id":"6095aac1e938c4a3","type":"exec","z":"cdf2ab2f85071871","command":"sudo killall omxplayer; sudo killall omxplayer.bin","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Kill player procs","x":620,"y":600,"wires":[[],[],["4457f692bec0f04b"]]},{"id":"72ad5b0ecd5d55bc","type":"delay","z":"cdf2ab2f85071871","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":110,"y":480,"wires":[["624710098ae4c29f"]]},{"id":"3aaff4df8782f573","type":"comment","z":"cdf2ab2f85071871","name":"Play Fra_Sier","info":"This is the routine to play a Fra_Sier episode when pressing Key 1","x":110,"y":400,"wires":[]},{"id":"878b53a21eb3ca63","type":"debug","z":"cdf2ab2f85071871","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":1000,"wires":[]},{"id":"137e6afeaf6ccf5f","type":"exec","z":"cdf2ab2f85071871","command":"sudo killall omxplayer; sudo killall omxplayer.bin; sudo killall vlc","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Kill player procs","x":400,"y":1000,"wires":[[],["878b53a21eb3ca63"],[]]},{"id":"8799f9a870ab949e","type":"rpi-gpio in","z":"cdf2ab2f85071871","name":"Key 2","pin":"20","intype":"up","debounce":"50","read":false,"bcm":true,"x":90,"y":1000,"wires":[["1109e8809571d264"]]},{"id":"af821441d20de6ac","type":"comment","z":"cdf2ab2f85071871","name":"Stop video","info":"Stop the video when pressing Key 2","x":100,"y":960,"wires":[]},{"id":"1109e8809571d264","type":"delay","z":"cdf2ab2f85071871","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":230,"y":1000,"wires":[["137e6afeaf6ccf5f"]]},{"id":"ec94aac7eb52fd87","type":"comment","z":"cdf2ab2f85071871","name":"Shutdown","info":"","x":100,"y":1160,"wires":[]},{"id":"a23cbdc0bd9c017f","type":"rpi-gpio in","z":"cdf2ab2f85071871","name":"","pin":"27","intype":"up","debounce":"25","read":false,"bcm":true,"x":100,"y":1220,"wires":[["6664f57177e45f42"]]},{"id":"6664f57177e45f42","type":"exec","z":"cdf2ab2f85071871","command":"sudo shutdown now","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":310,"y":1220,"wires":[[],[],[]]},{"id":"7939ee01f1245086","type":"inject","z":"cdf2ab2f85071871","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":90,"y":1060,"wires":[["1109e8809571d264"]]},{"id":"04ee3ce63e7148d1","type":"exec","z":"cdf2ab2f85071871","command":"ls -1 /home/pi/vids/Se_in_Feld/S*","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":370,"y":300,"wires":[["d944d461f138cdbd"],[],[]]},{"id":"d944d461f138cdbd","type":"split","z":"cdf2ab2f85071871","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":300,"wires":[["62d6d6a621f2c4b7"]]},{"id":"62d6d6a621f2c4b7","type":"change","z":"cdf2ab2f85071871","name":"Count the episodes","rules":[{"t":"set","p":"countSe_in_FeldEpisodes","pt":"flow","to":"parts.count","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":300,"wires":[["c6122105a6c80f76"]]},{"id":"c6122105a6c80f76","type":"debug","z":"cdf2ab2f85071871","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":300,"wires":[]},{"id":"94ea426660d5fa7c","type":"exec","z":"cdf2ab2f85071871","command":"sudo omxplayer -b --orientation 180 -o alsa","addpay":"VideoToPlay","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Play episode","x":810,"y":880,"wires":[["deea3409d43843f8"],["deea3409d43843f8"],[]]},{"id":"d5073e6975e80864","type":"inject","z":"cdf2ab2f85071871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":90,"y":720,"wires":[["255401101ca44458"]]},{"id":"edbe5a5c7313dfd4","type":"rpi-gpio in","z":"cdf2ab2f85071871","name":"Key 3","pin":"23","intype":"up","debounce":"25","read":false,"bcm":true,"x":90,"y":820,"wires":[["54c12502a21dd6d0"]]},{"id":"255401101ca44458","type":"exec","z":"cdf2ab2f85071871","command":"python -c 'import os, json; print json.dumps(os.listdir(\"/home/pi/vids/Se_in_Feld\"))'","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"List Se_in_Feld episodes","x":320,"y":760,"wires":[["e1e27b1274e26949"],[],[]],"info":"Converts the output of ls to a json object"},{"id":"db76a8f8f8ae7059","type":"debug","z":"cdf2ab2f85071871","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"VideoToPlay","targetType":"msg","statusVal":"VideoToPlay","statusType":"msg","x":830,"y":820,"wires":[]},{"id":"e1e27b1274e26949","type":"json","z":"cdf2ab2f85071871","name":"","property":"payload","action":"","pretty":true,"x":490,"y":760,"wires":[["37fe39c544369666"]]},{"id":"37fe39c544369666","type":"change","z":"cdf2ab2f85071871","name":"","rules":[{"t":"set","p":"to","pt":"msg","to":"$flowContext(\"countSe_in_FeldEpisodes\")-1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":820,"wires":[["7b9aedcbaa38c30a"]],"info":"The random node accepts an upper bound in msg.to\nSet it to the count of Fra_Sier episodes"},{"id":"7b9aedcbaa38c30a","type":"random","z":"cdf2ab2f85071871","name":"Pick 1","low":1,"high":"","inte":"true","property":"choice","x":430,"y":820,"wires":[["19a6b98b0197adc2"]]},{"id":"deea3409d43843f8","type":"debug","z":"cdf2ab2f85071871","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":880,"wires":[]},{"id":"19a6b98b0197adc2","type":"function","z":"cdf2ab2f85071871","name":"Set flow context","func":"msg.VideoToPlay = '\"' + \"/home/pi/vids/Se_in_Feld/\" + msg.payload[msg.choice] + '\"'\nflow.set(\"Se_in_Feld_LatestPlayedEpisodeNumber\", msg.choice)\nflow.set(\"Se_in_Feld_LastestEpisode\", msg.VideoToPlay)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":820,"wires":[["db76a8f8f8ae7059","47c20de256446972"]]},{"id":"47c20de256446972","type":"exec","z":"cdf2ab2f85071871","command":"sudo killall omxplayer; sudo killall omxplayer.bin","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Kill player procs","x":620,"y":880,"wires":[[],[],["94ea426660d5fa7c"]]},{"id":"54c12502a21dd6d0","type":"delay","z":"cdf2ab2f85071871","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":110,"y":760,"wires":[["255401101ca44458"]]},{"id":"71735277f3423e7a","type":"comment","z":"cdf2ab2f85071871","name":"Play Se_in_Feld","info":"This is the routine to play a Se_in_Feld episode when pressing Key 1","x":110,"y":680,"wires":[]},{"id":"529d698ac863fc28","type":"mqtt in","z":"cdf2ab2f85071871","name":"1","topic":"Fra_SierOn","qos":"2","datatype":"utf8","broker":"7ad2277394b478ef","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":620,"wires":[["72ad5b0ecd5d55bc"]]},{"id":"fb1393e2426e2f43","type":"mqtt in","z":"cdf2ab2f85071871","name":"1","topic":"Fra_SierOff","qos":"2","datatype":"utf8","broker":"7ad2277394b478ef","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":1100,"wires":[["1109e8809571d264"]]},{"id":"92f1dec28d2a6f6f","type":"catch","z":"cdf2ab2f85071871","name":"","scope":null,"uncaught":false,"x":690,"y":1140,"wires":[["69d203459bd5c5e3"]]},{"id":"69d203459bd5c5e3","type":"debug","z":"cdf2ab2f85071871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":1140,"wires":[]},{"id":"4037bb90bc758318","type":"debug","z":"8c1b93a95e47f620","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":340,"wires":[]},{"id":"612cc09f3447f149","type":"exec","z":"8c1b93a95e47f620","command":"cvlc  ","addpay":"VideoToPlay","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":470,"y":340,"wires":[["53637016d095bc43"],["4037bb90bc758318"],[]]},{"id":"a339f1109e0c612c","type":"exec","z":"8c1b93a95e47f620","d":true,"command":"sudo killall vlc","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Kill player procs","x":300,"y":340,"wires":[[],[],["612cc09f3447f149"]]},{"id":"c8368de314efe9ed","type":"function","z":"8c1b93a95e47f620","name":"Set flow context","func":"msg.VideoToPlay = '\"' + \"/home/pi/vids/Se_in_Feld/\" + msg.payload[msg.choice] + '\"'\nflow.set(\"LatestPlayedEpisodeNumber\", msg.choice)\nflow.set(\"LastestEpisode\", msg.VideoToPlay)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":260,"wires":[["90957f8afb0e6265","a339f1109e0c612c","612cc09f3447f149","aacdd90fc5110ac6"]]},{"id":"cb40c87ae233a9b2","type":"random","z":"8c1b93a95e47f620","name":"Pick 1","low":1,"high":"","inte":"true","property":"choice","x":430,"y":180,"wires":[["c8368de314efe9ed"]]},{"id":"90957f8afb0e6265","type":"debug","z":"8c1b93a95e47f620","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"VideoToPlay","targetType":"msg","statusVal":"VideoToPlay","statusType":"msg","x":750,"y":200,"wires":[]},{"id":"f26b6a54caef5b78","type":"change","z":"8c1b93a95e47f620","name":"","rules":[{"t":"set","p":"to","pt":"msg","to":"$flowContext(\"countSe_in_FeldEpisodes\")-1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":180,"wires":[["cb40c87ae233a9b2"]],"info":"The random node accepts an upper bound in msg.to\nSet it to the count of Fra_Sier episodes"},{"id":"b4b1846e34d0ce4c","type":"json","z":"8c1b93a95e47f620","name":"","property":"payload","action":"","pretty":true,"x":490,"y":120,"wires":[["f26b6a54caef5b78"]]},{"id":"4a9fd4e621c67a94","type":"exec","z":"8c1b93a95e47f620","command":"python -c 'import os, json; print json.dumps(os.listdir(\"/home/pi/vids/Se_in_Feld\"))'","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"List Se_in_Feld episodes","x":320,"y":120,"wires":[["b4b1846e34d0ce4c"],[],[]],"info":"Converts the output of ls to a json object"},{"id":"9f7a86f4048b411a","type":"inject","z":"8c1b93a95e47f620","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":90,"y":80,"wires":[["4a9fd4e621c67a94"]]},{"id":"b6b0976f94ebb1e5","type":"delay","z":"8c1b93a95e47f620","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":110,"y":120,"wires":[["4a9fd4e621c67a94"]]},{"id":"e10649657d3f0632","type":"rpi-gpio in","z":"8c1b93a95e47f620","d":true,"name":"Key 1","pin":"21","intype":"up","debounce":"25","read":false,"bcm":true,"x":90,"y":180,"wires":[["b6b0976f94ebb1e5"]]},{"id":"53637016d095bc43","type":"debug","z":"8c1b93a95e47f620","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":280,"wires":[]},{"id":"fe971502ea439e9e","type":"exec","z":"8c1b93a95e47f620","command":"cvlc -I http --http-port 43822 vlc://quit;","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Kill player procs","x":300,"y":420,"wires":[["4037bb90bc758318"],[],[]]},{"id":"13d216764b8fc30b","type":"inject","z":"8c1b93a95e47f620","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":420,"wires":[["fe971502ea439e9e"]]},{"id":"e5a61769a4c31f9e","type":"exec","z":"8c1b93a95e47f620","command":"ls -1 /home/pi/vids/Se_in_Feld/S*mkv","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":340,"y":560,"wires":[["c7bc6e7e642a1fa5"],[],[]]},{"id":"55df973840e6e50b","type":"inject","z":"8c1b93a95e47f620","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":560,"wires":[["e5a61769a4c31f9e"]]},{"id":"c7bc6e7e642a1fa5","type":"split","z":"8c1b93a95e47f620","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":560,"wires":[["5e6c8e95ddcd3987"]]},{"id":"5e6c8e95ddcd3987","type":"change","z":"8c1b93a95e47f620","name":"Count the episodes","rules":[{"t":"set","p":"countSe_in_FeldEpisodes","pt":"flow","to":"parts.count","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":560,"wires":[["7fea9e21412926d9"]]},{"id":"7fea9e21412926d9","type":"debug","z":"8c1b93a95e47f620","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":560,"wires":[]},{"id":"f9b7959985263f3f","type":"comment","z":"8c1b93a95e47f620","name":"Init","info":"This runs when node-red first starts or this flow deploys for the first time.","x":80,"y":520,"wires":[]},{"id":"aacdd90fc5110ac6","type":"template","z":"8c1b93a95e47f620","name":"fake a sonos bookmark","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n \"uri\": \"x-rincon-mp3radio://192.168.111.149:8554\",\n \"metadata\": \"&lt;DIDL-Lite xmlns:dc=&quot;http://purl.org/dc/elements/1.1/&quot; xmlns:upnp=&quot;urn:schemas-upnp-org:metadata-1-0/upnp/&quot; xmlns:r=&quot;urn:schemas-rinconnetworks-com:metadata-1-0/&quot; xmlns=&quot;urn:schemas-upnp-org:metadata-1-0/DIDL-Lite/&quot;&gt;&lt;item id=&quot;F10092020s32537&quot; parentID=&quot;L&quot; restricted=&quot;true&quot;&gt;&lt;dc:title&gt;Original Fra_Sier Box&lt;/dc:title&gt;&lt;upnp:class&gt;object.item.audioItem.audioBroadcast&lt;/upnp:class&gt;&lt;desc id=&quot;cdudn&quot; nameSpace=&quot;urn:schemas-rinconnetworks-com:metadata-1-0/&quot;&gt;SA_RINCON65031_&lt;/desc&gt;&lt;/item&gt;&lt;/DIDL-Lite&gt;\",\n \"queue\": false\n}\n","output":"json","x":910,"y":440,"wires":[["5fdf289eeb2f55a5"]]},{"id":"5fdf289eeb2f55a5","type":"sonos-universal","z":"8c1b93a95e47f620","confignode":"0fd5baabf62fe167","command":"group.play.export","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"Play TV","x":1100,"y":440,"wires":[[]]},{"id":"a4b73a8ef857210a","type":"inject","z":"8c1b93a95e47f620","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":670,"y":460,"wires":[["aacdd90fc5110ac6"]]},{"id":"9fb090c02ecde502","type":"exec","z":"8c1b93a95e47f620","command":"cvlc -I http --http-port 43822 --novideo","addpay":"VideoToPlay","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":830,"y":120,"wires":[[],[],[]]},{"id":"432d22dcd639bbf0","type":"inject","z":"8c1b93a95e47f620","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":680,"wires":[["2232c7b1d280c053"]]},{"id":"2232c7b1d280c053","type":"template","z":"8c1b93a95e47f620","name":"fake a sonos bookmark","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n \"uri\": \"x-rincon-mp3radio://https://www.internet-radio.com/servers/tools/playlistgenerator/?u=http://us4.internet-radio.com:8258/listen.pls&amp;t=.m3u\",\n \"metadata\": \"&lt;DIDL-Lite xmlns:dc=&quot;http://purl.org/dc/elements/1.1/&quot; xmlns:upnp=&quot;urn:schemas-upnp-org:metadata-1-0/upnp/&quot; xmlns:r=&quot;urn:schemas-rinconnetworks-com:metadata-1-0/&quot; xmlns=&quot;urn:schemas-upnp-org:metadata-1-0/DIDL-Lite/&quot;&gt;&lt;item id=&quot;1004206cspotify%3aalbum%3a{{payload}}&quot; parentID=&quot;&quot; restricted=&quot;true&quot;&gt;&lt;dc:title&gt;&lt;/dc:title&gt;&lt;upnp:class&gt;object.container.album.musicAlbum&lt;/upnp:class&gt;&lt;desc id=&quot;cdudn&quot; nameSpace=&quot;urn:schemas-rinconnetworks-com:metadata-1-0/&quot;&gt;SA_RINCON3079_X_#Svc3079-0-Token&lt;/desc&gt;&lt;/item&gt;&lt;/DIDL-Lite&gt;\",\n \"queue\": false\n}\n","output":"json","x":350,"y":680,"wires":[["aa80c0eef8ee6002"]]},{"id":"aa80c0eef8ee6002","type":"sonos-universal","z":"8c1b93a95e47f620","d":true,"confignode":"0fd5baabf62fe167","command":"group.play.export","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"Play dining","x":550,"y":680,"wires":[[]]}]
